<div class="home-container">
  <img src="assets/LOGO_PNG.png" alt="Logo Divercity" class="logo" />

  <h1>
    👋 Hola, {{ usuario?.nombre || 'Invitado' }}
    <span *ngIf="usuario?.rol === 'ADMIN'">(Admin)</span>
  </h1>

  <nav class="menu">
    <!-- Siempre visible -->
    <a routerLink="/atracciones" class="menu-button">Ver atracciones</a>
    <a routerLink="/sobre-nosotros" class="menu-button">Sobre Nosotros</a>

    <!-- No logueado -->
    <ng-container *ngIf="!usuario">
      <a routerLink="/login" class="menu-button">Iniciar sesión</a>
      <a routerLink="/registro" class="menu-button">Registrarse</a>
    </ng-container>

    <!-- Logueado como USER -->
    <ng-container *ngIf="usuario?.rol === 'USER'">
      <a routerLink="/hacer-reserva" class="menu-button">Hacer una reserva</a>
      <a routerLink="/gestionar-reservas" class="menu-button">Gestionar reserva</a>
    </ng-container>

    <!-- Logueado como ADMIN -->
    <ng-container *ngIf="usuario?.rol === 'ADMIN'">
      <a routerLink="/hacer-reserva" class="menu-button">Hacer una reserva</a>
      <a routerLink="/gestionar-reservas" class="menu-button">Gestionar reserva</a>
    </ng-container>

    <!-- Botón cerrar sesión -->
    <ng-container *ngIf="usuario">
      <button class="menu-button logout" (click)="cerrarSesion()">Cerrar sesión</button>
    </ng-container>
  </nav>
  <app-footer />
</div>
