<div class="container text-center mt-5">
  <h1 class="mb-4">Bienvenido a DiverCity</h1>

  @if (!usuario) {
    <div class="d-grid gap-3 col-6 mx-auto">
      <a class="btn btn-primary" routerLink="/atracciones">Atracciones</a>
      <a class="btn btn-secondary" routerLink="/sobre-nosotros">Sobre Nosotros</a>
      <a class="btn btn-success" routerLink="/login">Iniciar Sesión</a>
      <a class="btn btn-warning" routerLink="/registro">Registrarse</a>
    </div>
  } @else {
    <div class="d-grid gap-3 col-6 mx-auto">
      <a class="btn btn-primary" routerLink="/atracciones">Atracciones</a>
      <a class="btn btn-secondary" routerLink="/sobre-nosotros">Sobre Nosotros</a>
      <a class="btn btn-info" routerLink="/hacer-reserva">Hacer Reserva</a>
      <a class="btn btn-dark" routerLink="/gestionar-reservas">Gestionar Reservas</a>
      <button class="btn btn-danger" (click)="cerrarSesion()">Cerrar sesión</button>
    </div>
  }
</div>
