<footer class="bg-dark text-light mt-5 pt-4 pb-3">
  <div class="container">
    <div class="row">

      <!-- Mapa -->
      <div class="col-md-4 mb-3">
        <h5>¿Dónde estamos?</h5>
        <iframe
          width="100%"
          height="200"
          frameborder="0"
          style="border:0"
          allowfullscreen
          src="https://www.google.com/maps/embed/v1/place?key=TU_CLAVE_API&q=Parque+de+Atracciones,Madrid,España">
        </iframe>
      </div>

      <!-- Contacto -->
      <div class="col-md-4 mb-3">
        <h5>Contacto</h5>
        <p>Email: contactodivercity.com</p>
        <p>Teléfono: +34 912 345 678</p>
        <p>Horario: 10:00 - 20:00 (Lunes a Domingo)</p>
      </div>

      <!-- Legal -->
      <div class="col-md-4 mb-3 text-md-end text-center">
        <h5>DiverCity</h5>
        <p>© {{ currentYear }} Todos los derechos reservados</p>
      </div>
    </div>
  </div>
</footer>
