footer {
  color: white;
  background: transparent;
  margin: 0;
  padding: 0; /* ✅ sin espacio extra */
  border: none;
}

.footer-wrapper {
  background: transparent;
  padding: 80px 20px 10px; /* más espacio inferior para que se vea el fondo */
}



.container-footer {
  background: linear-gradient(to right, #003366, #002244);
  color: white;
  border-radius: 20px;
  padding: 30px;
  width: 90%;
  max-width: 1200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}
